@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

body{
    background: url(imagens/fundo4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: Montserrat;
}

.cartao{
    max-width: 330px;
    min-width: 280px;
    background-color: aliceblue;
    margin: 10px auto;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    background: url(imagens/fundo\ rosa.jpeg);
    background-position: center;
    background-size: 115%;
    height: 500px;
    box-shadow: 5px 7px 9px rgba(0, 0, 0, 0.199);
}

img{
    border-radius: 150px;
    margin-bottom: 10px;
}

.perfil {
    border: 2px solid #f8d365;
    padding: 3px;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.178);
}

.botoes {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    background-color: #A22957;
    color: #FBDC7D;
    padding: 8px 25px;
    border-radius: 2px;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

a:hover{
    background-color: #8b254c;
}
